{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Добро Пожаловать!</h1>
        {% if user.is_authenticated %}
            <h2>{{user.first_name}} успешно вошел! </h2>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Выход</button>
            </form> 
            <p><a href="{% url 'customers_list' %}">Список пользователей</a></p>

        {% else %}
            <p><a href="{% url 'login' %}">Вход</a></p>
            <p><a href="{% url 'register' %}">Регистрация</a></p>
        {% endif %}

    </div>
</body>
</html>